.supercontainer-feed_detail .card {
    min-width: 16rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.supercontainer-feed_detail .title-card .card-img-overlay {
	background-color: #ccc;
	background-color: rgba(255,255,255, 0.7);
}

.supercontainer-feed_detail .card .card-img {
    width: 100%;
}
